<div class="main-content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Sena - 6 números acertados</p>
                            <h3 class="title">0</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Sorte é acreditar que você têm sorte.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">people</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Quina - 5 números acertados</p>
                            <h3 class="title">0</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i>Boa sorte.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">group_add</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Quadra - 4 números acertados</p>
                            <h3 class="title">0</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Quanto mais você trabalha, mais sorte você tem.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="">
                            <i class="material-icons">border_color</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Apostas</p>
                            <h3 class="title">0</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
</div>
